In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [4]:
df = pd.read_csv("/home/olimar/github_repos/EvMatsim/output/ITERS/it.12/12.legHistogram.txt", sep="\t")

In [5]:
df.head()

,time,time.1,departures_all,arrivals_all,stuck_all,en-route_all,departures_car,arrivals_car,stuck_car,en-route_car
0,00:00:00,0,256,0,0,256,256,0,0,256
1,00:05:00,300,263,0,0,519,263,0,0,519
2,00:10:00,600,235,2,0,752,235,2,0,752
3,00:15:00,900,289,8,0,1033,289,8,0,1033
4,00:20:00,1200,258,17,0,1274,258,17,0,1274

In [6]:
df['departures_all'].sum()

327475