In [1]:
import pandas as pd

In [3]:
udot_flow = pd.read_csv(
    "/home/isaacp/research/repos/EvMatsim/contribs/ev/data/udot_flow_data/10-23-24-i15-flow.txt",
    sep="\t",
)
udot_flow.head()

               Hour Flow (Veh/Hour)  # Lane Points  % Observed
0  10/23/2024 00:00           615.0             60       100.0
1  10/23/2024 01:00           411.0             60       100.0
2  10/23/2024 02:00           310.0             60       100.0
3  10/23/2024 03:00           442.0             60       100.0
4  10/23/2024 04:00         1,056.0             60       100.0